* {
    font-family: "Courier New";
}

h1, 
h3 {
    color: #b92b27;
}

#login {
    background-color: white;
}

#signup {
    background-color: #b92b27;
    color: white;
}

.upvote {
    background-color: green;
    color: white;
}

.post a {
    color: purple;
    text-decoration: none;
}

nav ul li {
    color: #b92b27;
}

nav ul li a {
    color: #b92b27;
    text-decoration: none;
}

p+h3 {
    text-decoration: underline;
}

.upvote+button {
    background-color: cornflowerblue;
    color: navy;
}

div>input {
    background-color: darksalmon;
}

input[type="text"] {
    color: green;
}

input[type="password"] {
    color: red;
}

/* #myid p {
    color: blueviolet;
} */

div[id="myid"] p {
    color: blueviolet;
}

button:hover {
    color: white;
    background-color: black;
}

button:active {
    color: black;
    background-color: hotpink;
}

p:active {
    color: green;
    font-weight: bold;
}

input[type="radio"]:checked + label {
    color: red;
    font-weight: bold;
}

div:nth-of-type(2n) {
    background-color: blanchedalmond;
} 

h1::first-letter{
    color: green;
}

p::first-line {
    color: purple;;
}

p::selection {
    background-color: rgb(214, 214, 40);
}

h3 {
    background-color: green;
}
h3 {
    background-color: rgb(28, 0, 128);
}