h1 {
    border: 2px solid black;
    width: 33.33%;
}

#outer {
    width: 400px;
    height: 400px;
    background-color: lightblue;
}

#inner {
    width: 100px;
    height: 100px;
    background-color: lightpink;
    margin-left: 10%;
}
