#traffic-light {
    height: 200px;
    width: 70px;
    border: 2px solid black;
    border-top-style: double;
    margin-left: 720px;
}

.inner1 {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 100%;
    background-color: red;
}

.inner2 {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 100%;
    background-color: yellow;
}

.inner3 {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 100%;
    background-color: green;
}

* {
    text-align: center;
}

